jw-modal {
    /* modals are hidden by default */
    display: none;

    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .jw-modal-background */
        z-index: 1000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
            z-index: 1200;
        
position: absolute;
width: 837px;
height: 592px;
left: 0px;
top: 48px;
overflow-y: scroll;
margin-top:7%;
margin-left:27%;
/* Main colors/Light gray

Основной фон
*/
background: #F8F9FA;
        }
    }

    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #696969;
        opacity: 0.75;
        
        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
    .header{
        position: fixed;
      float: right;
        z-index: 1200;
        width: 840px;
        /* enables scrolling for tall modals */
        overflow:auto;

    }
    .fix{
        position: fixed;
        float: right;
          z-index: 1200;
          
          /* enables scrolling for tall modals */
          overflow:auto;
    }
}