.technologies-header {
  background-image: url("~assets/images/const-svgs/technologies.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .technologies-header-info {
    width: 715px;
  }
}
