<div class="column">
<div class="row gap-15 f-nn p-15_12">
    <div  class="  w-316 font-700 font-14_168" *ngFor ="let a of titles">{{a.title}}</div>

</div>
<div class="row gap-15 f-nn p-15_12 br-t"  *ngFor ="let a of ins">
  <span class="  w-316 font-500 font-14_196 underline">{{a.code}}</span> 
  <span class="  w-316  font-500 font-14_196 underline">{{a.company}}</span>
  <span class="  w-316  font-500 font-14_196">{{a.isin}}</span>
  <span class="  w-316  font-500 font-14_196">{{a.view}}</span>
</div>
</div>