.header-menu-small {
  z-index: 1;
  position: fixed;
  top: 9999px;
  left: 9999px;
  width: fit-content;
  height: fit-content;

  border-radius: 0 0 8px 8px;
  padding: 0px 0px 16px;
  gap: 60px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
  .hms-items {
    .hms-item {
      padding: 8px 16px 8px 16px;
      gap: 4px;
      width: 362px;
    }
  }
  
}

.hms-header {
}
.hms-items {
  .hms-item :hover{
    color: #038726;
    font-family: MuseoSansCyrl700;
  }
}