<div class="bg-main_4 ">
    <app-path-tree2 [pathTree]="pathTree" class="pointer"></app-path-tree2>
    <main class="main-p mb-12">
     <span class="font-900 font-28_336 fc-main_2">Акционерам Биржи</span></main>
       <app-tabs [tabs]="getTabs()" (currentTab)="test($event)"></app-tabs>
       <main class="main-p"> 
     
            <ng-container  *ngIf="link !== 'unlisted'">

          <span class="font-300 font-18_252 margin-top_15">По состоянию на 01 октября 2021 года общее количество объявленных акций 
            <br>АО "Казахстанская фондовая биржа" составляет  <span class='font-700'>5 000 000 </span>штук, <span class="font-700">1 075 231 </span>акция размещена.</span>
              <div class="pb-40"> 
           <div class="row margin-top_24">
                <div class="input-field-medium">
                  <svg-icon src="assets/images/const-svgs/search-icon.svg"></svg-icon>
                  <input  placeholder="Поиск по коду или названию компании">
                </div>
                <div class="all font-300 font-16_224">Всего акционеров – 49</div>
                </div>
                <div class="row margin-top_24 mb-15">
                    <div class="font-900 font-14_196 a">Полное официальное наименование держателя акций	</div>
                    <div  class="font-900 font-14_196 b">Количество акций	</div>
                    <div  class="font-900 font-14_196 c">Доля от общего количества голосующих акций, %</div>
                </div>

            <div class="row stock " *ngFor="let stock of stocks">  
                <div class="font-300 font-14_196 a">{{stock.company}}</div> 
                <div class="font-300 font-14_196 b">{{stock.q_stock}}</div> 
                <div class="font-300 font-14_196 c">{{stock.p_stock}}</div> 
            </div></div> </ng-container></main>
          
           <main class="main-c"> <ng-container *ngIf="link === 'unlisted'">
              <div class="row pb-40">
                <div class="left">
                  <div class="row mb-8">
                    <span class="font-700 font-20_24">Новости </span>

                  </div>
                  
                    <div class="f-nn  f-sb_c mb-24 margin-top_18">
                      <div class="input-field-vacancies box-shadow_1 br-8 f-nc gap-4 font-14_196 font-300 bg-main_5 border-sec_5">
                        <svg-icon src="assets/images/const-svgs/search-icon.svg"></svg-icon>
                        <input [(ngModel)]="searchCode" placeholder="Поиск по названию">
                      </div>
                     
                  <select  >
                  <option *ngFor="let year of years" > <span  class="font-14_196 font-700"></span>{{year.y}}</option>
                  </select>
                 
                    </div>
              
                 
                  <div class="new line " *ngFor="let news of n">
                   
                   
                        <div class="font-300 font-14_196  mb-4 margin-top_8" >{{news.day}}</div> 
                    <div class="font-700 font-16_224  td mb-8">{{news.name}}</div> 
                  
                </div>

              <div>
                <div class="row f-sb_c margin-top_36">
                  <span class="font-700 font-20_24">Уведомления</span>
                  <div class="ml-360 " class="font-14_196 font-700">
                    <select  >
                    <option *ngFor="let year of years" >{{year.y}}</option>
                    </select>
                   </div>
                </div>
                <div class="margin-top_30 " *ngFor="let notice of note">
                    <div class="font-300 font-14_196 " >{{notice.day}}</div> 
                 
                 
                    <div class="fin "><img src="assets/images/const-svgs/file-types/file.svg">
                 
                <span class="font-700 font-16_224 line2">{{notice.name}}</span>

                </div>
                
              </div>

              </div>
                </div>
                <div class="right">
                  <div class ='right1'>
                    <div class="row mb-8">
                      <span class="font-700 font-20_24 pt-4">Финансовая отчетность </span>
                      <div class="ml-105">
                        <select  >
                        <option *ngFor="let year of years">{{year.y}}</option>
                        </select>
                       </div>
                    </div>
                    <div class="" *ngFor="let fin of fins">
                      <div class="fin ap line1" *ngFor="let a of fin.year">
                      <img src="assets/images/const-svgs/file-types/file.svg">
                      <div class="font-500 font-16_224 td">{{a.name}}</div> 
                    </div>
                  </div>
                    </div>
                  <div class="right1">
                    <div class="row mb-8">
                      <span class="font-700 font-20_24 pt-4">Годовые и квартальные  отчеты </span>
                      <div class="ml-40">
                        <select  >
                        <option *ngFor="let year of years">{{year.y}}</option>
                        </select>
                       </div>
                    </div>
                   
                      <div class="fin ap line1" *ngFor="let report of reports">
                      <img src="assets/images/const-svgs/file-types/file.svg">
                      <div class="">
                      <div class="font-500 font-16_224  td">{{report.name}}</div> 
                      <div class="font-300 font-14_196 " >{{report.weight}}</div> 
                  </div></div>
                   </div>
                 </div>
              </div>
                          </ng-container>
                              
                          
            
        </main>
          