.con_card{
  width: 620px;
  }
  .info{
      width: 560px;
   }
  .column-1{
      width: 365px;
     height: 631px;
  }
  .active{
  border-left:2px solid #038726;
  cursor: pointer;
  color:  #038726;;
  }
  .vertical-menu {
    display: block !important;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    padding-top: 24px;
  }

  a{
   color: #1666BC
  }
  .col2{
  width: 596px;
  }
  .tab{
   padding-bottom: 12px;
     margin-left: 70px;
      padding-top: 12px;
  }
  img{
    width: 368px;
  height: 607px;
  background: #FFFFFF;
  border-radius: 4px;
  }
  