.slip{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 288px;
    height: 322px;
    border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 8px;
   }
  .slip:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5                                                  );
    backdrop-filter: blur(10px);
    border-radius: 8px;
    
  }
    .info{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 40px 16px 16px;
gap: 8px;

width: 288px;
height: 122px;

    }
.row-wrap{
    flex-wrap: wrap;

    gap:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-top: 15px;
}
.main{
      margin-left: 300px;
    margin-right: 290px;
    margin-bottom:30px;
}
.img{
    position: absolute;
    width: 286px;
    height: 200px;
    left: 0px;
    top: 0px;

}
.backgroundForImg{
width: 286px;
height: 200px;
}
.box{

height: auto;
background: #F8F9FA;
/* shadow */

box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 8px;
margin-top:7%;
margin-left:27%;

}
.forImg{
   
        width: 345px;
        height: 400px;
        
        border: 1px solid #FFFFFF;
/* shadow new */

box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 4px;
}
.im{
  
width: 345px;
height: 400px;
}
.a{
    margin-top: 52px;
 height: auto;

}
.card__one {
    transition: transform .5s;
  
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
      content: '';
      opacity: 0;
      z-index: -1;
    }
  
    &:hover,
    &:focus {
      transform: scale3d(1.006, 1.006, 1);
  
      &::after {
        opacity: 1;
      }
    }
  }
.in{
  
        display: flex;
flex-direction: column;
align-items: flex-start;
padding-top: 16px;
gap: 8px;

width: 360px;
height: 122px;


    
}
.e{
    width: 450px;
   margin-left: 380px;
    padding: 0px 15px 0px 15px;
   // height:auto;
 
}
.ac{
 
    padding: 0px;
  margin-bottom:4px ;
    padding-bottom: 12px;
 
    padding-top: 12px;
 
}
.fl-r{
    float: right;
}
.c{
    color:#696969
}
