.slip{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 288px;
    height: 322px;
    border: 1px solid #FFFFFF;
    /* shadow new */
    
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 8px;
   }
    .info{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 40px 16px 16px;
gap: 8px;

width: 288px;
height: 122px;

    }
.row-wrap{
    flex-wrap: wrap;

    gap:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-top: 15px;
}
.main{
      margin-left: 300px;
    margin-right: 290px;
    margin-bottom:30px;
}
.img{
   
width: 180px;
height: 200px;
margin-left: 55px;
margin-right: 55px;
top: 0px;
}
.backgroundForImg{
 
width: 286px;
height: 200px;
background: radial-gradient(50% 50% at 50% 50%, #95A6AE 0%, #97A4B3 51.04%, #8598A7 100%);

}
.box{

height: auto;

/* Main colors/Light gray

Основной фон
*/
background: #F8F9FA;
/* shadow */

box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 8px;
margin-top:7%;
margin-left:27%;

}
.forImg{
   
        width: 360px;
        height: 400px;
        background: radial-gradient(50% 50% at 50% 50%, #95A6AE 0%, #97A4B3 51.04%, #8598A7 100%);
        
        border: 1px solid #FFFFFF;
/* shadow new */

box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 4px;
}
.im{
  
width: 360px;
height: 400px;
}
.a{
    margin-top: 52px;
 height: auto;

}
.in{
  
        display: flex;
flex-direction: column;
align-items: flex-start;
padding-top: 16px;
gap: 8px;

width: 360px;
height: 122px;


    
}
.e{
    width: 460px;
   margin-left: 380px;
    padding: 0px 17px 0px 17px;
    height: 1391px;
 
}
.ac{
 
    padding: 0px;
  margin-bottom:4px ;
    padding-bottom: 12px;
 
    padding-top: 12px;
 
}
.fl-r{
    float: right;
}
.c{
    color:#696969
}
