
.organization{
    box-sizing: border-box;
width: 620px;
height: 208px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
}
.img{
    width: 120px;
}
.name{
    width: 436px;
}
.as{
    &:hover{
     border-bottom:1px solid #45464F ;
    }
}
.mh{
    min-height: 40px;
}