<div class="col2">
    <div *ngIf="overflow" class="flex-none  us-none pointer  rotate-180 " (click)="clickLeft()">
      <app-svg-icon class="" [iconName]="'dropdown-arrow-down-icon'"
                    [height]="'20'"
                    [width]="'20'"
      ></app-svg-icon>
    </div>
    <div [id]="id" #tabsSec class="tabs font-14_168">
      <div class="tab-on"
           [id]="id + tab.header"
           (click)="clickTab(tab)"
           [ngClass]="{
           'tab-on font-700 block-main_1': tab.active,
           'tab-off font-300 font-main_2 border-sec_5': !tab.active
           }"
           *ngFor="let tab of tabs; index as i">
        <span>{{tab.header}}</span>
      </div>
    </div>
    <div *ngIf="overflow" class="flex-none  us-none pointer  " (click)="clickRight()">
      <app-svg-icon class="mr-10" [iconName]="'dropdown-arrow-down-icon'"
                    [height]="'20'"
                    [width]="'20'"
      ></app-svg-icon>
    </div>
    </div>
    