<div class="bg-main_4 ">
    <app-path-tree [pathTree]="pathTree"></app-path-tree>
    <main class="main-p">
        <div class ="career">
           <div class="left"> <span class="font-700 font-28_336 fc-main_2">Карьера</span>
            <div class="font-300 font-16_224  " >Мы предлагаем интересную работу в команде профессионалов, а также возможности 
                для самореализации, профессионального развития, использования своих знаний 
                и опыта. Ждем резюме от инициативных, талантливых, целеустремленных и уверенных в успехе людей, как начинающих свою карьеру на фондовом рынке, так и опытных профессионалов.</div>
                <div class="font-300 font-16_224  " >Мы предоставляем равные возможности кандидатам на вакантные позиции. 
                    В процессе рассмотрения кандидатур, мы опираемся на принципы справедливости, демократичности, гендерного равенства, а также руководствуемся бизнес-требованиями организации.</div>
                    <div class="font-500 font-16_224  " >Все резюме просим отправлять по адресу: <a class="fc-sec_3" href="/">hr@kase.kz</a></div>
        </div>
        
        
           <div class="right" style=" ">
            <div style="border-radius: 8px;"><img class ='im' src='assets/images/const-svgs/about-us/career.png'></div>
             </div> </div>

             <div class="vacancies">
                <div class="f-nn mb-24 margin-top_30">
                    <div class="input-field-vacancies box-shadow_1 br-8 f-nc gap-4 font-14_196 font-300 bg-main_5 border-sec_5">
                      <svg-icon src="assets/images/const-svgs/search-icon.svg"></svg-icon>
                      <input  placeholder="Поиск нужной вакансии">
                    </div>
                    <div class="sort"></div>
                    <div class="p_a">
                      <span class="font-300 font-14_196">Сортировать:</span>
                      <span class="font-500 font-14_168 ml-4">  Последние</span>
                      <app-svg-icon [width]="'20'" [height]="'20'"
                      class="mb-4"
                      [iconName]="'dropdown-arrow-down-icon'">
                      </app-svg-icon>
                    </div>
                   
                  </div>
                  <div class="column-1">
                    <ul class="vertical-menu ">
                       

                        
                       <!-- 
                         [ngClass]="{'active font-900':viewMode =='tab1'}"
                        
                        
                        "viewMode ='tab1'" -->
                       
                        <li  *ngFor= "let vacancie of vacancies"  
                        class="font-300 font-14_168 " 
                        style="cursor: pointer"
                        (click)="viewMode = vacancie.tab"
                        [ngClass]="{'active ':viewMode ==vacancie.tab}" class="mb-24 ak"
                       ><div class="col" [ngClass]="{' a font-700':viewMode ==vacancie.tab}">    <div class="font-500 font-16_224 title">{{vacancie.title}}</div> 
                    <div class="font-300 font-12_168 date">{{vacancie.date}}</div>
                    </div>
                    <div class="font-300 font-14_196">{{vacancie.name}}</div>
                       
                    </li>
                       
                  
                    </ul>

                  
                  </div>
        
                 <div class="column-2" >
                     <ng-container *ngFor="let vacancie of vacancies">
                        <div   *ngIf="viewMode === vacancie.tab" >
                          <div class="col" [ngClass]="{' a font-700':viewMode ==vacancie.tab}">    <div class="font-500 font-16_224 title">{{vacancie.title}}</div> 
                          </div>
                      
                          <div class="font-300 font-14_196">{{vacancie.name}}</div>
                        <div  class="font-700 font-14_168 mt-12 mb-4">{{vacancie.resp}}</div>

                         <div  class='mb-4'*ngFor="let k of vacancie.artifact">
                        <li class="font-300 font-14_196">{{k.resp_a}}</li></div>

                          <div  class="font-700 font-14_168 mt-12">{{vacancie.req}}
                        <div class='mb-4' *ngFor="let k of vacancie.requ">
                       

                         <li class="font-300 font-14_196">{{k.resp_b}}</li>
                        
                        </div>
                        <div class="ae margin-top_30 " [ngClass]="{' a ':viewMode ==vacancie.tab}">    <div class="font-300 font-14_196 t">Опубликовано 18.10.2021</div> 
                        <div class=" button-g12-p0_24 pr-button">
                          <span class="font-700 font-14_196 fc-main_1">Подать заявку</span>
                        </div>
                    </div>

                        </div>
                  
</div>  
                     </ng-container>
                    
                 
                 
                  </div>



               
                 </div>
                 
                  
   
        </main> 
       
     
        </div>
   
  
        
           