.career{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1264px;
height: 290px;
}
.right{
    width: 554px;
height: 290px;
}
.im{
    width: 100%;
}
.left{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 670px;
height: 290px;

}
.col{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 524px;
height: 19px;

}
.title{
    width: 463px;   
}
.date{
    float:left;
    width: 100px;
}
.active{
    border-left:1px solid #038726;
    cursor: pointer;
    
   
     .a{
       color:  #038726;;
    }
    }
    .column-1{
      float: left;
      border-right:  1px solid #D1D1D1;
    }
    .column-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      padding-left: 24px;
        overflow-y: scroll;
      
    }
    .ak{
        padding-left: 12px;
    }
    .but{
        display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;

width: 145px;
height: 36px;

/* Secondary colors/Positive green

Позитивный тренд
*/
background: #038726;
border-radius: 8px;
    }
    .ae{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .t{
        width: 600px;
    }
    .sort{
        width: 850px;
        float:right;
    }
    .p_a{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        
    }