.opacity-0 {
  opacity: 0;
}

.height-100vh {
  height: 100vh;
}

.width-100per {
  width: 100%;
}

.t-center {
  text-align: center;
}
.t-align{
  text-align: left!important;
}

.line {
border-bottom: 1px solid  #d1d1d1;
}
.br-t{
  border-top:1px solid #d1d1d1;
}
.line:last-child{
  border-bottom:none;
}
.line1 {
 border-bottom:1px solid #d1d1d1;
}
.line1:not(:last-child){
  border-bottom:1px solid #d1d1d1
}
.header-mt_30 {
  margin-top: 30px;
}

.header-mt_60 {
  margin-top: 60px;
}

.block-span-svg {
  display: flex;
  align-items: center;
  gap: 4px;
}

.block-span-svg-gap_8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.block-span-svg {

}

.br-4 {
  border-radius: 4px;
}

.br-8 {
  border-radius: 8px;
}

.card {
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
}
.active{
  border-left:2px solid #038726;
  cursor: pointer;

  color:  #038726;;
  
}
.br{
  border-right: 1px solid #d1d1d1;
}




.w-384{
  width: 384px;
}
.w-800{
  width:800px;
}
.w-365{
  width: 365px;
}
.w-436{
  width: 436px;
}
.w-876{
  width: 876px;
}
.w-730{
  width: 730px;
}
.w-157{
  width: 157px;
}
.w-377{
  width: 377px;
}
.w-404{
  width: 404px;
}
.w-685{
  width: 685px;
}
.w-496{
  width:496px;
}
.w-200{
  width: 200px;
}
.w-430{
  width:430px !important;
}