// font-size, line-height
.font-40_56 {
  font-size: 40px;
  line-height: 56px;
}
.font-22_26{
  font-size: 22px;
line-height: 26.4px;
}
.font-18_25{
  font-size: 18px;
  line-height:25.2px;
}

.font-28_40 {
  font-size: 28px;
  line-height: 40px;
  @media screen and (max-width: 1140px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.font-28_336 {
  font-size: 28px;
  line-height: 33.6px;
}

.font-20_28 {
  font-size: 20px;
  line-height: 28px;
}

.font-20_24 {
  font-size: 20px;
  line-height: 24px;
}

.font-18_28 {
  font-size: 18px;
  line-height: 28px;
}


.font-18_27 {
  font-size: 18px;
  line-height: 27px;
}

.font-10_16, .font-10_16 > * {
  font-size: 10px;
  line-height: 16px;
}

.font-16_224, .font-16_224 > *, .font-16_224_all * {
  font-size: 16px;
  line-height: 22.4px;
}
.font-16_192, .font-16_192 > * {
  font-size: 16px;
  line-height: 19.2px;
}

.font-16_24, .font-16_24 > * {
  font-size: 16px;
  line-height: 24px;
  @media screen and (max-width: 1140px) {
    font-size: 14px;
    line-height: 19.6px;
  }
}

.font-12_20, .font-12_20 > * {
  font-size: 12px;
  line-height: 20px;
}
.font-12_144, .font-12_144 > * {
  font-size: 12px;
  line-height: 14.4px;
}
.font-12_19, .font-12_19 > * {
  font-size: 12px;
  line-height: 20px;
}

.font-12_168 {
  font-size: 12px;
  line-height: 16.8px;
}

.font-14_16 {
  font-size: 14px;
  line-height: 16px;
}
.font-14_168 {
  font-size: 14px;
  line-height: 16.8px;
}

.font-8_16 {
  font-size: 14px;
  line-height: 16px;
}

.font-14_22 {
  font-size: 14px;
  line-height: 22px;
}

.font-14_196, .font-14_196_all {
  font-size: 14px;
  line-height: 19.6px;
}

.font-14_24 {
  font-size: 14px;
  line-height: 24px;
}

.font-24_24 {
  font-size: 24px;
  line-height: 24px;
}

.font-24_288 {
  font-size: 24px;
  line-height: 28.8px;
}
.font-32_384, .font-32_384 * {
  font-size: 32px;
  line-height: 38.4px;
}

.font-40_48, .font-40_48 * {
  font-size: 40px;
  line-height: 48px;
  @media screen and (max-width: 1140px) {
    font-size: 28px;
    line-height: 33.6px;
  }
}


// font decorations
.underline {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.font-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

// font wrap
.white_space-break_spaces {
  white-space: break-spaces;
}
