  .custom{
      box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px 12px 26px;
gap: 8px;
height: 48px;


    }

li {
      
  text-align: left;
  padding: 12px;
  cursor: pointer;


}