
<div class="bg-main_4" style="height: 614px;">
    <app-path-tree2 [pathTree]="pathTree" class="pointer"></app-path-tree2>
     <main class="main-p">
        <span class="font-900  font-28_336">Корпоративные документы</span>
    

<div class="mb-70 mt-50">
  

<div class="w-365 fl-l br ">
  <div class="vertical-menu ">
      <li (click)="viewMode ='tab1'" class="font-300 font-14_168 pointer pl-12 mb-16" [ngClass]="{'active font-900':viewMode =='tab1'}">Учредительные документы</li>
      <li (click)="viewMode ='tab2'"   class="font-300 font-14_168 pointer pl-12 mb-16"[ngClass]="{'active font-900':viewMode =='tab2'}">Стратегия развития</li>
      <li (click)="viewMode ='tab3'"  class="font-300 font-14_168 pointer pl-12 mb-16"[ngClass]="{'active font-900':viewMode =='tab3'}">Корпоративные документы</li>
      <li (click)="viewMode ='tab4'"  class="font-300 font-14_168 pointer pl-12 mb-16"[ngClass]="{'active font-900':viewMode =='tab4'}">Инсайдерская информация</li>
      <li (click)="viewMode ='tab5'"  class="font-300 font-14_168 pointer pl-12 mb-16"[ngClass]="{'active font-900':viewMode =='tab5'}">Другие материалы</li>
  </div>
</div>
<div class="column ml-23 w-876" [ngSwitch]="viewMode">
  <div *ngSwitchCase="'tab1'">
<div class=" p-12026 gap-8 row f-sc "*ngFor="let constit of consts">
  <img src="assets/images/const-svgs/file-types/doc.svg">
  <span class="font-300 font-14_196 underline">{{constit.name}}</span> 

</div>
  </div>
  <div *ngSwitchCase="'tab2'">
   
  </div>
  <div *ngSwitchCase="'tab3'">
  
  </div>
  <div *ngSwitchCase="'tab4'">
   
  </div>
  <div *ngSwitchCase="'tab5'">
  
  </div>
</div>
</div>
</main>
</div>