.main_part{
    width:1324px;
    margin-left: 300px;
}
.organization{
    box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;
width: 620px;
height: 208px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
/* shadow new */

box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 8px;


}
.body{
    flex-wrap:wrap;
    gap: 24px;
    margin-top: 24px;
    padding-bottom: 50px;
}
.img{
    width: 120px;
 
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px ;
gap: 10px;


}
.i{
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    margin-left: 16px;
    width: 436px;
}
.p_d{
    display: flex;
}