.main{
    
    display: flex;
    margin-left: 300px;
    margin-right: 290px;
  
    .column-1{
        width: 365px;
       
      float: left;
      border-right:  1px solid #D1D1D1;
    }
    .column-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 23px;
       
        
        width: 876px;
        
        overflow-y: scroll;
      
    }
  }
  .active{
    border-left:1px solid #038726;
    cursor: pointer;

    color:  #038726;;
    
  }
  .vertical-menu {
      
      display: block !important;
      width: 100%;
      text-align: center;
      list-style-type: none;
      padding: 0px;
    }
   
    li {
      color: #212121;
      font-style: normal;
      font-weight: normal;
      text-align: left;
      padding: 8px 15px;
      cursor: pointer;
     width: 280px;;
    
    }
  
    li:after {
      display: none; font-weight: 700;
    }
  
    a {
      padding: 8px;
    }
    @media(max-width:550px){
      .column-1{
        width: 40% !important;
        
      }
      .column-2{
        width: 60% !important;
      }
    }
    .col1{
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
width: 365px;

    }
    .col2{
width: 496px;

    }
    .tab{
     padding-bottom: 12px;
        border-bottom:  1px solid #D1D1D1;;
        padding-top: 12px;
    }
    .bo-header{
        margin-bottom: 48px;
        margin-left: 295px;
    }
    .custom{
      box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px;
gap: 8px;

width: 1324px;
height: 48px;


border-bottom: 1px solid #D1D1D1;

    }
