<div class="footer_inner">
  <div class="footer_header">
    <div class="fh-left">
      <span class="font-700 font-16_192 font-white">Казахстанская фондовая биржа</span>
      <div class="fhl-menu font-300 font-14_196 fc-main-4 text-dec-main_5">
        <div>Вопросы-ответы</div>
        <div>Пресс-центр</div>
        <div>Карьера</div>
        <div>Контакты и реквизиты</div>
        <div>Партнерские сайты</div>
        <div>Корпоративный стиль</div>
        <div>Антикоррупционный комплаенс</div>
      </div>
    </div>
    <div class="fh-right">
      <span class="fhr-number font-700 font-16_192 font-white">+7 (727) 237 53 00</span>
      <span class="fhr-feedback font-300 font-14_196 font-white_80per">Отзывы и предложения</span>
       <div class="fbl-links ">
        <img src="../../../../assets/images/const-svgs/footer/telegram.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/facebook.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/linkedin.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/instagram.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/youtube.svg" alt="">
      </div>
    </div>
  </div>

  <div class="footer_body f-nn f-row__f-col">
    <div class="fb-left">

      <div class="fbl-markets mb-4">
        <img src="../../../../assets/images/const-svgs/footer/Theme=Black,%20Store=Google%20Play.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/Theme=Black,%20Store=App%20Store.svg" alt="">
        <img src="../../../../assets/images/const-svgs/footer/Theme=Black,%20Store=AppGallery.svg" alt="">
      </div>    
        <span class="font-300 font-14_196 font-white_80per ">Мобильное приложение для iOS и Android</span>
 
      
    </div>
    <div class="fb-right">
    
     <div class="fbl-iris row mt-24">
       
        <div class="fbli-info font-14_196 font-white margin-right_16 mt-4">
          <div class="font-500">IRIS Finance</div>
          <div class="font-300">Информационный терминал</div>
        </div>
        <div> <img src="../../../../assets/images/const-svgs/footer/kase-triangle-logo.svg"></div>
      </div>


    </div>
  </div>
  <div class="footer-line_2 bg-main_3"></div>
  <span class="font-300 font-14_196 font-white_70per">
    © 1993-2023 АО "Казахстанская фондовая биржа". Копирование материалов – только с письменного разрешения.
  </span>
</div>
