.main_m{
    margin-left: 300px;
    width: 1324px;
    height: 770px;
}
.mission_card{
flex-direction: row;
gap: 80px;
margin-bottom: 24px;
 border-bottom: 1px solid #D1D1D1;;
 padding-bottom: 24px;
}
.type{
    width: 384px;
}
.title{
    width:800px;
}
.ad{
    margin-top:24px;

}
.st_t{
    margin-bottom: 30px;
}
