<main class="main-p">
  <div class="fi-header   f-nn f-row__f-col" style="margin-top: 60px;height: 536px;"> 
    <div class ='fb-left' style="width: 300%;">
       <div><span class="font-700 ro " style="font-size: 72px;line-height: 72px;">О Бирже</span></div>
       <div class="font-700  ro" style="font-size: 22px">АО "Казахстанская фондовая Биржа" </div>
       <span class="font-300  " style="font-size: 18px ; line-height: 25.2px;width: 100%;">является единственной в Республике Казахстан многофункциональной биржевой площадкой по торговле акциями, облигациями, производными финансовыми инструментами, иностранной валютой, а также инструментами денежного рынка" </span>
     </div>
  
   <div class=" font-24_288 fc-main_2 ac">
       <div drag-scroll-item class="aed" *ngFor="let link of links"   
        >
          <span class="asss font-400">{{link.title}}</span>
          <div class="rr"
               [routerLink]="link.link">
            <app-svg-icon [width]="'20'" [height]="'20'"
                          class="svgs-main_5"
                          [iconName]="'arrow_right-light'">
            </app-svg-icon>
          </div>
        </div>
      </div>

      </div>
      

  </main>






 <div class="f_m mt-24 bg-main_4" >
   <div class="f_k f_j" >
    <div class="fb-left" style=" height: 447px;">
      <div style="border-radius: 4px;"><img class ='im' src='assets/images/const-svgs/about-us/img.jpg'></div>
       </div>  <div class="fb-right" >
         <div ><span class="font-700 sjj" style="font-size: 28px;" >Фондовый рынок</span></div>
         <div class="margin-top_15"><span class="font-300" style="font-size: 16px ; line-height: 25.2px;width: 100%;" >Биржа проводит торги акциями, корпоративными облигациями, государственными ценными бумагами Республики Казахстан
           <br> и государственными ценными бумагами иностранных государств, облигациями международных финансовых организаций, суверенными и корпоративными еврооблигациями, депозитарными расписками, ценными бумагами инвестиционных фондов, биржевыми инвестиционными фондами (Exchange Traded Funds — ETF).
            <br>Расчеты по ликвидным ценным бумагам происходят по технологии T+2
            <br>(на второй день после заключения сделки), по неликвидным ценным бумагам
            <br>по технологии T+0 (в день заключения сделки)</span></div>
            <div class="p_d" style="margin-top: 40px;"
            [routerLink]="">
         <span class="s_p font-500" >Подробнее</span>
         <app-svg-icon [width]="'20'" [height]="'20'"
                       class=""
                       [iconName]="'arrow_right-light'">
         </app-svg-icon>
       </div>



           </div>
</div>

    <div class=" f-nn f-row__f-col  m-24_0 ">


        <div drag-scroll-item class="scroll" *ngFor="let market of markets"

        >
          <span class="m_t font-700 ">{{market.type}}</span>
          <span class="m_ti font-300">{{market.title}}</span>
          <div class="p_d"
          [routerLink]="market.link">
       <span class="s_p font-500" >Подробнее</span>
       <app-svg-icon [width]="'20'" [height]="'20'"
                     class=""
                     [iconName]="'arrow_right-light'">
       </app-svg-icon>
     </div>
        </div>

    </div> </div>


    <main class="main-p">
<div class="d_l "> <span class='n_d font-700'>Действующие лицензии </span>
    <div class="f_k" style="font-size: 22px">
    <div class="fb-left " style="padding-right:25px">
      <span class="li font-300" style="margin-bottom: 16px;">Лицензия на осуществление деятельности на рынке ценных бумаг от 19 июля 2012 года
        № 4.2.3/1, выданная Комитетом по контролю и надзору финансового рынка и финансовых организаций Национального банка Республики Казахстан. Лицензия дает право
        на осуществление следующих видов деятельности на рынке ценных бумаг:" </span>
        <div class="margin-top_16">
        <div class="add  f-nn f-row__f-col ">
        <app-svg-icon [width]="'20'" [height]="'20'"
        class="svgs-main_1"
        [iconName]="'check2-circle'">
       </app-svg-icon> <span class ='ae  font-500'>Деятельность по организации торговли с ценными бумагам и иными финансовыми инструментами</span></div>
       <div class="add  f-nn f-row__f-col ">
       <app-svg-icon [width]="'20'" [height]="'20'"
       class="svgs-main_1"
       [iconName]="'check2-circle'">
       </app-svg-icon> <span class ='ae  font-500'  >Клиринговая деятельность по сделкам с финансовыми инструментами на рынке ценных бумаг</span></div>
    </div></div>

    <div class="fb-right " style="padding-left:40px">
      <span class=" li font-300 " >Лицензия на проведение банковских операций в национальной и иностранной валюте от 30 января 2020 года № 4.3.8, выданная Национальным банком Республики Казахстан. Лицензия дает право на проведение следующих банковских операций:</span>
      <div class="margin-top_16">
      <div class="add  f-nn f-row__f-col ">
          <app-svg-icon [width]="'20'" [height]="'20'"
          class="svgs-main_1"
          [iconName]="'check2-circle'"
         >
        </app-svg-icon> <span class ='ae font-500'>Открытие и ведение корреспондентских счетов банков и организаций, осуществляющих отдельные виды банковских операций</span></div>
        <div class="add  f-nn f-row__f-col ">
          <app-svg-icon [width]="'20'" [height]="'20'"
          class="svgs-main_1"
          [iconName]="'check2-circle'">
        </app-svg-icon> <span class ='ae  font-500'>Переводные операции: выполнение поручений физических и юридических лиц
          по платежам и переводам денег</span></div>
          <div class="add  f-nn f-row__f-col ">
            <app-svg-icon [width]="'20'" [height]="'20'"
            class="svgs-main_1"
            [iconName]="'check2-circle'">
          </app-svg-icon> <span class ='ae  font-500'>Открытие и ведение банковских счетов юридических лиц</span></div>
        <div class="add  f-nn f-row__f-col ">
          <app-svg-icon [width]="'20'" [height]="'20'"
          class="svgs-main_1"
          [iconName]="'check2-circle'">
        </app-svg-icon> <span class ='ae  font-500'>Обменные операции с иностранной валютой, за исключением организации обменных операций с наличной иностранной валютой</span></div>
  </div></div>
    </div>
    </div>
    </main>

  <!-- -->
