
.but{
    width: 489px;
    height: 56px;
    backdrop-filter: blur(10px);
    }
    .arrow-b{
    width: 24px;
    height: 24px;
    background-color: #038726;
    }
    .scroll{
    width: 420px;
    height: 244px;
    border: 1px solid #3CBD0D;
    }
    .h{
    height: 460px;
    }
    