.f_k{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
   width:1324px !important;
 margin-top: 24px;
  
   
}

.f_m{

padding: 60px 290px;
}
.akl{
  color: #038726;
}
.left{
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
   width: 50%;
    height: 425px;
     position: relative;
    flex: none;
    order: 0;
    flex-grow: 1;
    .im{

height: 425px;

    }
}
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 620px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
    .sjj{
   line-height: 120%;
    font-size: 28px;
      height: 34px;  


 }



}
.aed{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 10px 24px;
gap: 12px;

width: 489px;
height: 56px;

/* Main colors/White BG

Фоновый белый, дополнительный
*/
background: #FFFFFF;
/* Main colors/White BG

Фоновый белый, дополнительный
*/
border: 1px solid #FFFFFF;
/* shadow */

box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
 margin-bottom: 16px;
border-radius: 8px;

/* Inside auto layout */
 margin-left: 160px;
 margin-right: 100px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.fb-left{
  width: 50%;
  border-radius: 4px;
}
.fb-right{
    width:50%;
   padding-left: 24px;
   padding-right: 24px;
}
.asss{
font-size: 16px;
width: 405px;
}
.ro{
  margin-top: 15px;


}
.rr{
    display: flex;

    justify-content: center;
    align-items: center;
    float: right; 

padding: 4px;
gap: 10px;
width: 24px;
height: 24px;
background-color: #038726;
border-radius: 4px;
margin-top: 4px;
}
.add{
    justify-content: center;
    align-items: center;
    height: 40px;
 
    float: left;
   margin-bottom: 12px;
}
.ae{

    line-height: 140%;
    margin-left: 15px;
    font-size:14px;
    width:567px
}
.scroll{
  
gap: 24px;
width: 405px;
height: 244px;
   padding: 24px;
  
border: 1px solid #3CBD0D;
border-radius: 4px;
margin:15px;
}
.m_t{
    height: 34px;
    font-size: 28px;
   
}
.m_ti{
height: 88px;
font-size: 16px;
float: left;
margin-bottom: 40px;
margin-top:16px;
line-height: 140%;
}

.p_d{
    display: flex;
flex-direction: row;
align-items: center;


width: 120px;
height: 20px;

  

}
.s_p{
font-size: 14px;
line-height: 140%;
}
.n_d{
font-size: 28px;
line-height: 120%;
}
.d_l{
    padding: 60px 0px;
}
.li{
  
font-size: 14px;

}
.ac{
 margin-left: 50px;
}
