
.akl{
  color: #038726;
}
.im{
    width: 100%;
}

.aed{
    text-align: left!important;
   
padding: 10px 24px;
gap: 12px;

width: 489px;
height: 56px;

background: #FFFFFF;

border: 1px solid #FFFFFF;
/* shadow */

box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(10px);
 margin-bottom: 16px;
border-radius: 8px;


}

.fb-right{
   width: 702px;
   padding-left: 24px;
   padding-right: 24px;
}
.rr{
    display: flex;

    justify-content: center;
    align-items: center;
    float: right; 

padding: 4px;
gap: 10px;
width: 24px;
height: 24px;
background-color: #038726;
border-radius: 4px;

}
.add{
    justify-content: center;
    align-items: center;
  
 
    float: left;
   margin-bottom: 12px;
}
.scroll{
  margin-top: 40px;
gap: 24px;
width: 405px;
height: 244px;
   padding: 24px;
  
border: 1px solid #3CBD0D;
border-radius: 4px;
margin-right: 24px;
}

.m_ti{
height:115px;
float: left;
}

.p_d{
    display: flex;
width: 130px;
}


.ac{
 padding-left: 140px;
padding-top: 20px;
gap: 16px;
height: 460px;
}
