.governance-header {
    background-image: url("~assets/images/const-svgs/governance.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .governance-header-info {
      width: 715px;
    }
  }
  